/*.App for the title and any rendering*/
.App {
    
}
/*html is for hole body page*/
html {
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
}
/*logo and nav bar*/
.NavBar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*render spot*/
.display{

  /*  background-color: black; */
    text-align:  center;

}

/*for hovering over nav buttons*/
li :hover{
    background-color:cornflowerblue ;
    border: 3px dotted;
    border-radius: 5px;
}
/*for the links in the nav bar*/
.link{
    color: black;
    text-decoration: none;
    border: none;
}
/*WHOLE nav space */
ul{
    margin: auto;
    padding-bottom: 1em;
    justify-content: center;
}
/*JUST the nav pieces*/
li{
   display: inline-flex;
   text-align: center;
    padding: .5em;
}
/*logo*/
h1{
    justify-content: center;
    text-align: center;
}
/*blurb at top above logo*/
h2{
    justify-content: center;
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*whole form*/
form{
    width: 35rem;
    padding: 1em;
    background-color: lavenderblush;
    border: 4px dotted pink;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 12px 12px thistle;
}
/*meal time checkboxes*/
.TypeOfMeal{
    display: flex;
    padding: 1em;
    justify-content: center;
}
/*Allergy checkboxes*/
.allergies{
    justify-content: center;
    display: flex;
    padding: 1em;
}
/*chef name and recipe name*/
.NamePart{
    text-align: center;
    display: flex;
    padding: 1.17em;
}
/*for instructions and ingridients*/
.directions{
    text-align: center;
    display: flex;
    padding: 1em;
}
/*submit button*/
.button {
    background-color: cornflowerblue;
    border-radius: 5em;
    border: 1px dotted;
}
