/*.App for the title and any rendering*/
.App {
    background-color: aliceblue;
}
/*html is for hole body page*/
html {
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
}
/*logo and nav bar*/
.NavBar{
    background-color: brown;
    margin: 1em;
    padding: auto;
}
/*render spot*/
.display{
    background-color: black;
    text-align:  center;
}
/*WHOLE nav space */
ul{
    margin: auto;
    background-color: blue;
    justify-content: center;
}
/*JUST the nav pieces*/
li{
   display: inline-flex;
   text-align: center;
    padding: .5em;
    background-color: blueviolet;
}
/*logo*/
h1{
    justify-content: center;
    text-align: center;
}
/*whole form*/
form{
    width: 35rem;
    padding: 1em;
    background-color: lavenderblush;
    border: 4px dotted pink;
    justify-content: center;
    border-radius: 12px;
}
/*meal time checkboxes*/
.TypeOfMeal{
    display: flex;
    padding: 1em;
    justify-content: center;
}
/*Allergy checkboxes*/
.allergies{
    justify-content: center;
    display: flex;
    padding: 1em;
}
/*chef name and recipe name*/
.NamePart{
    text-align: center;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}
/*for instructions and ingridients*/
.directions{
    text-align: center;
    display: flex;
    padding: 1em;
    justify-content: space-between;
}
/*submit button*/
.button {
    background-color: plum;
}
